body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
    font-family: Arial, sans-serif;
}

.board {
    background-color: #bcbcbc;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.keys {
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center;
    color: #000;
    margin: 0 5px;
    background-color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 50%;
}

.keys:hover {
    border-color: #000;
    outline: none;
}

.keys-wrong{
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center;
    color: #000;
    margin: 0 5px;
    background-color: #ff7e5a;
    border: 2px solid #ff7e5a;
    border-radius: 50%;
}

.keys-correct{
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center;
    color: #000;
    margin: 0 5px;
    background-color: #9ce94f;
    border: 2px solid #9ce94f;
    border-radius: 50%;
}